body {
    scrollbar-gutter: stable; /* Always show vertical scrollbar */
  }

#root{
    max-width: 100%;
    min-height: 100vh;
    /* max-height: 100%; */
}

.navbar-icon{
    cursor: pointer;
}

#image-left-fade{
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient( to right, rgb(16,16,16) 3%, transparent);
}
#image-bottom-fade{
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient( to top, rgb(16,16,16) 3%, transparent);
}

#hero-banner-poster{
    filter: brightness(1.1);
}

#underline-text:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.custom-carousel-item{
    padding-left: 5px;
}

.vertical-card-container:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 200ms;
    filter: brightness(120%);
}

.carousel-container{
    padding: 10px 10px;
}

.carousel-item{
    padding: 10px;
    
}

.image-grid-container{
    /* Grid Fallback */
    display: flex;
    flex-wrap: wrap;
    
    /* Supports Grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 1em;
}